<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stylica_app">
        <activity
            android:name=".views.activities.ModeratorOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ModeratorOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.AddVendorActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.VendorsListActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.VendorAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.AdminAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.VendorPendingProductsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.VendorRejectedProductsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.TransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.AdminOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.PendingPaymentsVerificationListActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.PendingUsersActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.VendorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.PendingVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ModeratorVendorSignupActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.VendorOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.VendorOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.MyOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.VendorViewsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.AddEditAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.AnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.AddEditPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.PaymentMethodsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.PendingProductsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.CustomerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.SingleProductActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ModeratorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ModeratorSignupActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ProductsViewActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.EditCourierActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.AddCourierActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.CouriersListActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.AddModeratorActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ModeratorsListActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.EditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>